.main-page {
  height: 100vh;
  background-image: url("/img/bg2.jpg");
  background-size: cover;
  background-position: center;
}
.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
header {
  height: 80px;
}
header .nav-link {
  color: white;
}
.content-1 {
  height: calc(100vh - 80px);
}
.content-1 h6 {
  font-size: 20px;
  font-weight: 700;
}
.content-1 h4 {
  font-size: 25px;
  font-weight: 700;
}
.trpbtn {
  background-color: rgba(69, 68, 77, 0.7);
  color: white;
}
.trpbtn:hover {
  background-color: rgba(69, 68, 77, 1);
}
.page-2 {
  height: 100vh;
  background: linear-gradient(to right, #252734, #252734);
}
.content-2 {
  height: 90vh;
  width: 90vw;
}
.btext {
  color: #050cdd;
  font-weight: 700;
}
.img-box-1 {
  height: 400px;
  width: 300px;
  border: 2px solid black;
  border-radius: 20px;
}
.img-box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}
.skills {
  height: 100vh;
  background: linear-gradient(to right, #252734, #252734);
}
.education {
  height: 100vh;
  background: linear-gradient(to right, #252734, #252734);
}
.education h6 {
  font-weight: 700;
  font-size: 24px;
  color: #050cdd;
}
.services {
  height: 100vh;
  background: linear-gradient(to right, #252734, #252734);
}
.contact {
  height: 100vh;
  background-color: #252734;
}
input[type="text"] {
  background-color: #333645;
  border: none;
}
input[type="text"]::placeholder {
  color: white;
}
input[type="email"] {
  background-color: #333645;
  border: none;
}
input[type="email"]::placeholder {
  color: white;
}
textarea[type="text"]::placeholder {
  color: white;
}
.contact h6 {
  font-weight: 700;
  color: #050cdd;
}
