.main-page {
  height: 100vh;
  background-image: url("/img/bg2.jpg");
  background-size: cover;
  background-position: center;
}
.overlay {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}
header {
  height: 80px;
}
header .nav-link {
  color: white;
}
.content-1 {
  height: calc(100vh - 80px);
}
.content-1 h6 {
  font-size: 20px;
  font-weight: 700;
}
.content-1 h4 {
  font-size: 25px;
  font-weight: 700;
}
.trpbtn {
  background-color: rgba(69, 68, 77, 0.7);
  color: white;
}
.trpbtn:hover {
  background-color: rgba(69, 68, 77, 1);
}
